.about__grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

.about__image-container {
  flex: 0.8;
  justify-content: center;
  display: inline-table;
}

.about__image {
  width: 300px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.about__text {
  flex: 1.2;
  min-width: 280px;
}

.about__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #111827;
}

.highlight {
  color: #000;
}

.about__description {
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.6;
  margin: 1.5rem 0;
  max-width: 600px;
}

.about__resume-button {
  --bg: #2e2e2e;
  --hover-bg: var(--first-color);
  --hover-text: black;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 10px 20px;
  background: var(--bg);
  transition: 0.2s;
}

.about__resume-button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.about__resume-button:active {
  transform: translate(0);
  box-shadow: none;
}

.about__icons {
  display: flex;
  justify-content: center;
  margin-left: -120px;
  gap: 1.2rem;
  font-size: 1.25rem;
  margin-top: 40px;
}

.about__icons a {
  color: #aaaaaa; /* Example: dark gray */
  transition: color 0.3s ease;
}

.about__icons a:hover {
  color: var(--first-color);
  transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .about__icons {
    justify-content: center;
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .about__icons {
    margin-left: 0;
  }
  .about__grid {
    flex-direction: column;
    text-align: center;
  }

  .about__image-container {
    margin-bottom: 2rem;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__description {
    font-size: 0.95rem;
  }

  .about__resume-button {
    margin-left: auto;
    margin-right: auto;
  }
}
